<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--设置移动端-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>博客详情</title>
    <!--引入css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" th:href="@{/css/me.css}">
</head>
<body>
<div th:include="header"></div>
<br><br><br><br><br><br><br><br><br>
<h1 align="center" style="color:red;">出现错误，请重新输入网址或联系管理员</h1>
<br><br><br><br><br><br><br><br><br>
<div th:include="footer"></div>
</body>
